.wrapper {
    width: 800px;
    margin: 20px;
}

.visible-area {
    width: 800px;
    height: 300px;
    overflow: hidden;
}

/* JD: These two classes are somewhat repetitive; better
       to consolidate the common ones into a different
       class (that both elements share), then use the
       distinct classes only for what makes them different
       (which, as far as I can tell, is just the float
       property). */
.previous {
    width: 100px;
    float: left;
    color: #fff;
    height: 30px;
    margin-top: 10px;
    background: #f00;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.next {
    width: 100px;
    float: right;
    color: #fff;
    height: 30px;
    margin-top: 10px;
    background: #f00;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}