/*Extra css code for more customization past Twitter Bootstrap. */

#header {
    margin: 4px;
    border-bottom: solid 1px #444;
    background: -moz-linear-gradient(top, #eee, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #aaa));
}

#leftArrow { 
    -webkit-transform: scaleX(-1); 
       -moz-transform: scaleX(-1); 
        -ms-transform: scaleX(-1); 
         -o-transform: scaleX(-1); 
            transform: scaleX(-1); 
}

#graphics {
    margin-left: 35px;
    margin-top: 15px;

}

#energyPreferences {
    background-color: #E6E6E6;
}

#battery {
    margin-top: 30px;

}

#centerGrayBox {
	background-color: #E0E0E0;
	
}

#computerSleep {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 60px;
}

input[type="range"] {
-webkit-appearance: slider-horizontal;
padding: initial;
border: initial;
margin-top: 0px;
color: #909090;
width: 880px;
}

#displaySleep {
	margin-left: 20px;
}

#hardDisks {
	margin-top: 40px;
	margin-left: 40px;

}

#network {
	margin-top: 0px;
	margin-left: 40px;

}

#bright {
	margin-top: 0px;
	margin-left: 40px;

}

#batteryCharge {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#batteryStatus {
	margin-left: 55px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#schedule {
	margin-right: 20px;
}

#lockPic {
    margin-left: 100px;
}

#question {
	margin-left: 760px;
}

#lock {
	margin-bottom: 20px;
}