/*Extra css code for more customization past Twitter Bootstrap. */



#header {
    margin-left: 0px;
    border-bottom: solid 1px #444;
    background: -moz-linear-gradient(top, #eee, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
    width: 580px;
    
}

#signalBars {
	margin-left: 5px;
}

#time {
	margin-left: 35px;
}

#battery {
	margin-left: 130px;
}

#settings {
	border-bottom: solid 1px #444;
	/* gradient code from http://www.colorzilla.com/gradient-editor/ */
    background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	width: 610px;
}

/* Bordered Button Styles - Code from http://css3wizardry.com/2010/10/05/subpixel-rendering-2/ */
.button.bordered {
	-webkit-box-shadow: 0 1px 1px #9aa5bb, 0 -1px 1px #8e96a5; 
	border: solid 1px #54617d;
	border-color: #484e59 #54617d #4c5c7a #54617d; 
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	font-size: 12px;
	line-height: 28px;
	height: 30px;
	margin-top: 5px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 5px;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#92a1bf), 
			color-stop(0.25, #798aad),
			color-stop(0.5, #6276a0), 
			color-stop(0.5, #556a97), 
			color-stop(0.75, #566c98),
			to(#546993)); 
	color: #fff;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
.button.bordered:hover, .button.bordered.touched {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#7d88a5), 
			color-stop(0.25, #58698c),
			color-stop(0.5, #3a4e78), 
			color-stop(0.5, #253c6a), 
			color-stop(0.75, #273f6d),
			to(#273f6d));
	-webkit-tap-highlight-color: transparent;
}
/* End Bordered Button Styles */

/* Back Bordered Button Styles */
.button.bordered.back {
	padding: 0px 7px 0px 3px;
	margin-left: 50px;
	position: relative;
}
.button.bordered.back > span {
	position: relative;
	z-index: 1;
}
.button.bordered.back > span.pointer {
	z-index: 0;
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#92a1bf), 
			color-stop(0.3, #798aad),
			color-stop(0.51, #6276a0), 
			color-stop(0.51, #556a97), 
			color-stop(0.75, #566c98),
			to(#546993)); 
	border-left: solid 1px #484e59;
	border-bottom: solid 1px #9aa5bb;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 4px;
	height: 23.5px;
	width: 23.5px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-webkit-mask-image: 
		-webkit-gradient(linear, left bottom, right top, 
			from(#000000), 
			color-stop(0.5,#000000), 
			color-stop(0.5, transparent), 
			to(transparent));
	position: absolute;
	left: -9px;
	top: 2.5px;
	-webkit-background-clip: content;
}
.button.bordered.back:hover > span.pointer, .button.bordered.back.touched > span.pointer {
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#7d88a5), 
			color-stop(0.3, #58698c),
			color-stop(0.51, #3a4e78), 
			color-stop(0.51, #253c6a), 
			color-stop(0.75, #273f6d),
			to(#273f6d)); 
}

/* End Back Bordered Button Styles */

#music {
   margin-top: 7px;
   font-size: 25px;
   color: white;
   margin-left: 33px;
}

#options {
    background-color: #C0C0C0;
    margin-top: 0px;
    padding-top: 5px;
}

#shuffleTable {
	border-bottom: 1px solid #999999;
}

#shake {
	border: 1px solid #999999;
	width: 555px;
	margin-left: 40px;
	background-color: white;
}

#shuffle {
	margin-left: 30px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

#shuffleSwitch {
	margin-top: 4px;
	margin-left: 180px;
	margin-right: 0px;
}

#shuffleSwitch2 {
	margin-top: 4px;
	margin-left: 145px;
	margin-right: 0px;
}

#eq {
	font-size: 20px;
	margin-top: 10px;
	color: gray;
}

#chevronRight {
	margin-top: 5px;
}


/*Code from proto.io/freebies/onoff/ */
.onoffswitch {
	margin-left: 0px;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top: 0px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 30px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > div {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #2FCCFF; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}